h2.error Error 404!
p Parece ser que esta página no existe todavía o ha sido eliminada.

span Intenta una de las siguientes opciones:
ul.list
	li Comprueba que has introducido la dirección Web correcta. 
	li Intenta acceder directamente a la página desde <a [routerLink]='["/discover"]'>Descubrir</a> en lugar de usar un marcador. Si la página se ha trasladado, actualiza el marcador. 
	li Introduce las palabras clave en el recuadro de búsqueda y pulsa el botón Buscar.