h2 
	div.with-sub
		|{{data.name}} {{data.surname}}
		font {{data.email}}
	a.button.small.white([routerLink]='["/settings"]')
		i.la.la-cog
		| Configuración


h5 
	|Restaurantes favoritos
	a([routerLink]='["/me/favourites"]', *ngIf="data?.favourites.length > 0") Más
div.card-overflow(*ngIf="data?.favourites.length > 0")
	a(*ngFor="let restaurant of data.favourites", [routerLink]='["/restaurant/"+restaurant.id]')
		.card
			.card-thumbnail([class.image-exists]="restaurant.image", [ngStyle]="{'background-image': (restaurant.image) ? 'url('+restaurant.image.thumb+')': 'none'}")
				.card-right(*ngIf="restaurant.average_price > 0", title="Precio medio")
					span.price {{restaurant.average_price}}€
			.card-pie
				h3.title.ellipsis {{restaurant.name}}
				p.address.ellipsis {{restaurant.address}}
			.card-content.flexy
				font.small.italic.ellipsis {{restaurant.type}}
				.stars
					i.la.la-star(*ngFor="let i of restaurant.rate | fill")
					i.la.la-star-half-o(*ngIf="restaurant.rate%1 > 0")
					i.la.la-star-o(*ngFor="let i of 5-restaurant.rate | fill")
p.nothing(*ngIf="data?.favourites.length == 0") No tienes restaurantes favoritos aún.

h5
	|Reservas
	a([routerLink]='["/me/reserves"]', *ngIf="data?.reserves.length > 0") Más
div.card-overflow(*ngIf="data?.reserves.length > 0")
	a(*ngFor="let reserve of data.reserves", [routerLink]='["/restaurant/"+reserve.restaurant.id]')
		.card
			.card-thumbnail([class.image-exists]="reserve.restaurant.image", [ngStyle]="{'background-image': (reserve.restaurant.image) ? 'url('+reserve.restaurant.image.thumb+')': 'none'}")
				.card-right.canceled(*ngIf="reserve.state == 'CANCELED'") CANCELADA
				.card-right.finalized(*ngIf="hasPassed(reserve.date) && reserve.state != 'CANCELED'") FINALIZADA
			.card-pie
				h3.title.ellipsis {{reserve.restaurant.name}}
				p.address.ellipsis {{reserve.date | amDateFormat: 'DD/MM/YYYY'}} a las {{reserve.date | amDateFormat: 'HH:mm'}}
				.card-content.flexy
					font.small.ellipsis(style="font-size: 14px;margin-bottom:5px") {{reserve.num_pers}} pers.
p.nothing(*ngIf="data?.reserves.length == 0") No has reservado en ningún restaurante aún.