h2{
	padding-bottom: 15px;

	.with-sub font{
		display: block;
		margin-top: 10px;
		font-size:14px;
	}
}

h5{
	display: flex;
	margin-top: 25px;
	margin-bottom: 10px;
	align-items:center;

	& > a{
		margin-left: auto;
		font-weight: 100;
	}
}

.card-right{
	&.canceled{
		background: rgba(255,0,0, 0.4) !important;
		color: #fff;
	}

	&.finalized{
		background: rgba(6,47,74, 0.4) !important;
		color: #fff;
	}
}

p.nothing{
	display: block;
	text-align: center;
	border: 2px solid #ddd;
	padding: 30px;
	border-radius: 2px;
	font-size: 14px;
	color: #4b5d5f;
}