include ../modal.component.pug

+modal('Recuperar contraseña', true)
	p.info Introcuce tu correo electrónico: Se le enviará un enlace para recuperar su contraseña.
	div.msg(class="{{error ? 'error' : 'success'}}", [hidden]="message === null") {{message}}
	form.form(#recoverForm="ngForm" (ngSubmit)="recover(recoverForm)", [class.error] = "message != null && error")
		input(type='email', placeholder='Email', name='email', ngModel, required, email)
		div.foot
			button(type="submit", class="button large block", [ngClass]='{loading: loading}') Enviar Solicitud