.space
h5 Correo electrónico
form.form(#emailForm="ngForm" (ngSubmit)="change_email(emailForm.form)")
	.fields
		label.form-field
			|Nuevo email:
			input(type='email', name='email', ngModel, required, email)
		label.form-field
			|Confirmar email:
			input(type='email', name='email_confirmation', ngModel, required, email)
	.foot
		button.button(type="submit", [disabled]="emailForm.form.status == 'INVALID' || emailForm.form.value.email != emailForm.form.value.email_confirmation") Guardar

h5 Contraseña
form.form(#passwordForm="ngForm" (ngSubmit)="change_password(passwordForm.form)")
	.fields
		label.form-field
			|Nuevo contraseña:
			input(type='password', name='password', ngModel, required)
		label.form-field
			|Confirmar contraseña:
			input(type='password', name='password_confirmation', ngModel, required)
	.foot
		button.button(type="submit", [disabled]="passwordForm.form.status == 'INVALID'") Guardar

h5 Eliminar cuenta
p.info Se borrarán todos sus datos de forma permanente incluidas sus reservas activas, reseñas, restaurantes favoritos, etc..
button.button.small.grey((click)="delete_account()") Eliminar

type-password-modal((onType)="onTypePassword($event)", #typePasswordModal)