.space{
	height: 15px;
	display: block;
	width: 1px
}

form{
	margin: 15px 0 0;
}

p.info{
	max-width: 620px;
	margin-bottom: 5px;
}

@media screen and (max-width: 670px){
	p.info{
		max-width: 360px;
	}
}