include ../modal.component.pug

+modal('Registrarse', true)
	div.msg.error([hidden]="error === null") {{error}}
	form.form(#signupForm="ngForm" (ngSubmit)="signup(signupForm)", [class.error] = "error != null")
		h5 Datos personales
		input(type='text', placeholder='Nombre', name='name', required, ngModel)
		input(type='text', placeholder='Apellidos', name='surname', required, ngModel)
		.form-radio
			input.magic-radio#genreM(type='radio', name='genre', value="M", required, ngModel)
			label(for="genreM") Hombre
			input.magic-radio#genreF(type='radio', name='genre', value="F", required, ngModel)
			label(for="genreF") Mujer
		h5 Cuenta
		input(type='email', placeholder='Email', name='email', required, email, ngModel)
		input(type='password', placeholder='Contraseña', name='password', required, ngModel)
		input(type='password', placeholder='Confirmar contraseña', name='password_confirmation', required, ngModel)
		div.foot
			button(type="submit", class="button large block", [ngClass]='{loading: loading}') Registarse
	.line-divisor
		a((click)="goToModal('loginModal')") o iniciar sesión