.card-grid{
	margin-top: 10px;
	display: grid;
	grid-template-columns: 240px 240px 240px 240px;
	grid-gap:20px;
}

.card-overflow{
	overflow: auto;
	display: flex;
	padding-bottom: 15px;

	& > a:last-child{
		.card{
			margin-right: 0
		}
	}

	.card{
		width: 240px;
		margin-right: 20px;
	}
}


.card-list{ 
	max-width: 670px;

	.card {
		display: flex;
		margin-bottom: 5px;

		.card-thumbnail {
			width: 155px;
			height: 106px;
		}

		.card-content{
			width: calc(100% - 210px);

			& > *{
				display: block;
			}

			& > div.card-stars-foot{
				display: flex;
				align-items:baseline;
				margin: 10px 0 0;

				& > font{
					margin-left: 5px;
					font-size: 12px;
					font-style: italic;
					color: #777;
				}
			}

			.stars{
				i{
					font-size: 14px
				}
			}

			font.small{
				font-size: 14px;
				margin-top: 10px
			}
		}

		.card-right{
			margin-left: auto;
		}
	}
}

.card{
	color: #000;
	position: relative;
	background-color: #fff;
	border:1px solid #ddd;

	.stars{
		display: inline-block;

		i{
			font-size: 12px;
			color: $primaryColor;
			display: inline;
		}
	}

	& > .card-content{
		padding: 10px 15px;

		&.flexy{
			display: flex;
			justify-content:space-between;
			align-items:center
		}

		font.tiny{
			font-size: 10px;
			color: #888
		}

		font.small{
			font-size: 12px;
		}

		font.italic{
			font-style: italic;
		}

		.color{
			color: $primaryColor
		}
	}

	p{
		margin: 5px 0;
	}

	&.big{
		& > .card-content{
			padding: 20px
		}
	}

	&.border-top{
		border-top: 4px solid $primaryColor
	}

	&.without-img{
		& > .card-thumbnail{
			height: 140px;

			& > .card-pie{
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: calc(100% - 30px);
				padding: 10px 15px;

				h3{
					margin-bottom: 5px
				}
			}
		}
	}

	& > .card-thumbnail{
		position: relative;
		width: 100%;
		height: 105px;
		background-color:#f6fafb;
		background-size: cover;
		background-repeat: no-repeat;

		overflow: hidden;
		border-bottom: 1px solid #efefef;

		&.image-exists{
			&:before{
				content: ' ';
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background: rgba(255, 255, 255, 0.2);
			}
		}

		& > .card-right{
			position: absolute;
			right: 0px;
			top: 10px;
			font-size: 12px;
			font-weight: bold;
			padding: 5px;
			padding: 6px 5px;
			color: #f6fafb;
			background-color: rgba(207, 67, 67, 0.85);
			padding-left: 10px;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}

		& > .card-presentation{
			text-align: center;
			padding: 20px;
			margin-top: 25px;

			h3{
				margin: 0px;
				color: $primaryColor
			}

			p{
				font-size: 14px;
				color: #666;

				&.ellipsis{
					width: 100%
				}
			}
		}
	}

	.card-pie{
		h3, p{

			&.ellipsis{
				display: block;
			}

			margin: 0px;
		}

		p{
			font-size: 14px;
			color: #45656b;
		}
	}

	& > .card-pie{
		margin: 15px 15px 0px 15px;
		overflow: hidden;
		border-bottom: 1px solid #eee;

		h3{
			font-size: 20px;
			margin-bottom: 10px
		}

		p{
			font-size: 12px;
			margin-bottom: 10px
		}
	}
}

@media screen and (max-width: 1024px){
	.card.big {
		& > .card-content{
			padding: 15px;
		}
	}

	.card-grid{ 
		grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
	}

	.card-overflow{
		.card{
			width: 210px
		}
	}
}

@media screen and (max-width: 670px){
	.card-grid{ 
		grid-template-columns: calc(50% - 15px) calc(50% - 15px);

		.card{
			width: auto;
		}
	}

	.card-overflow{
		.card{
			width: 185px;
			margin-right: 15px;

			& > .card-thumbnail{
				height: 115px;

				& > .card-presentation{
					padding: 15px;
				}
			}
		}
	}

	.card-list{
		.card {
			.card-thumbnail {
				width: 80px;
				height: 105px;
				background-position: center;
			}

			.card-content{
				width: calc(100% - 110px);
			}
		}
	}
}

@media screen and (max-width: 390px){
	.card-grid{
		grid-template-columns: calc(100% - 0px);
		grid-gap:10px;

		.card{
			width: 100%
		}
	}
}