@import "~ng-pick-datetime/assets/style/picker.min.css";

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: 1;
}
.cdk-overlay-dark-backdrop {
	background: rgba(0,0,0,.85);
}

owl-date-time-inline.small{
	&.width-auto{
		& > .owl-dt-inline-container{
			width: 100% !important;

			& .owl-dt-calendar{
				height: auto !important
			}

			&  .owl-dt-calendar-control{
				padding: .5em 0;
			}

			&  .owl-dt-calendar-main{
				padding: 0;
			}
		}
	}

	& > .owl-dt-inline-container{
		width: 250px;
		z-index: auto;

		.owl-dt-calendar{
			height: 280px
		}

		.owl-dt-timer{
			height: 4em
		}
	}
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected{
	background-color: #1c7f8e;
}

.owl-dt-calendar-table .owl-dt-calendar-cell{
	color: #1c7f8e;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
	border-color: rgba(0,0,0,.2);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected.owl-dt-calendar-cell-today, .owl-dt-inline-container, .owl-dt-popup-container {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.owl-dt-container-buttons{
	color: #155f6b;
}