div(*ngIf="(results && text) || (outstanding && outstanding.length > 0)")
	div.search-explore(*ngIf="(!results || !text)") 
		h5 Destacado
		div.buttons
			a.button.white(*ngFor="let outs of outstanding", [routerLink]='["/search", {q:outs}]') {{outs}}

		h5(*ngIf="recents && recents.length > 0") Busquedas recientes
		ul.search-list(*ngIf="recents && recents.length > 0")
			li(*ngFor="let recent of recents", (click)="searchText(recent)")
				i.la.la-history
				span {{recent}}
				a((click)="recent_service.delete(recent)"): i.la.la-close
	div.search(*ngIf="results && text")
		h5 Coincidencias
		ul.search-list(*ngIf="results.restaurants.length > 0 || results.tags.length > 0")
			a(*ngFor="let restaurant of results.restaurants", [routerLink]='["/restaurant/"+restaurant.id]')
				li.ellipsis
					i.la.la-cutlery
					span {{restaurant.name}}
					div {{restaurant.address}}
			a(*ngFor="let tag of results.tags", [routerLink]='["/search", {q:tag}]')
				li.ellipsis
					i.la.la-tag
					span {{tag}}
		p.none-found(*ngIf="results.restaurants.length == 0 && results.tags.length == 0") No hay resultados para la búsqueda