i.eat{
  display: inline-block;
}
i.eat.eat-banana-split {
  background-image: url(../img/eat_sprite.png);
  background-position: -28px 0px;
  width: 28px;
  height: 28px;
}
i.eat.eat-beer-bottle {
  background-image: url(../img/eat_sprite.png);
  background-position: -84px -84px;
  width: 28px;
  height: 28px;
}
i.eat.eat-beer {
  background-image: url(../img/eat_sprite.png);
  background-position: 0px -28px;
  width: 28px;
  height: 28px;
}
i.eat.eat-birthday-cake {
  background-image: url(../img/eat_sprite.png);
  background-position: -28px -28px;
  width: 28px;
  height: 28px;
}
i.eat.eat-bread {
  background-image: url(../img/eat_sprite.png);
  background-position: -56px 0px;
  width: 28px;
  height: 28px;
}
i.eat.eat-carrot {
  background-image: url(../img/eat_sprite.png);
  background-position: -56px -28px;
  width: 28px;
  height: 28px;
}
i.eat.eat-cheese {
  background-image: url(../img/eat_sprite.png);
  background-position: 0px -56px;
  width: 28px;
  height: 28px;
}
i.eat.eat-cookies {
  background-image: url(../img/eat_sprite.png);
  background-position: -28px -56px;
  width: 28px;
  height: 28px;
}
i.eat.eat-cooking-pot {
  background-image: url(../img/eat_sprite.png);
  background-position: -56px -56px;
  width: 28px;
  height: 28px;
}
i.eat.eat-croissant {
  background-image: url(../img/eat_sprite.png);
  background-position: -84px 0px;
  width: 28px;
  height: 28px;
}
i.eat.eat-fish {
  background-image: url(../img/eat_sprite.png);
  background-position: -84px -28px;
  width: 28px;
  height: 28px;
}
i.eat.eat-french-fries {
  background-image: url(../img/eat_sprite.png);
  background-position: -84px -56px;
  width: 28px;
  height: 28px;
}
i.eat.eat-hamburger {
  background-image: url(../img/eat_sprite.png);
  background-position: 0px -84px;
  width: 28px;
  height: 28px;
}
i.eat.eat-honey {
  background-image: url(../img/eat_sprite.png);
  background-position: -28px -84px;
  width: 28px;
  height: 28px;
}
i.eat.eat-hot-dog {
  background-image: url(../img/eat_sprite.png);
  background-position: -56px -84px;
  width: 28px;
  height: 28px;
}
i.eat.eat-jamon {
  background-image: url(../img/eat_sprite.png);
  background-position: 0px 0px;
  width: 28px;
  height: 28px;
}
i.eat.eat-jelly {
  background-image: url(../img/eat_sprite.png);
  background-position: -112px 0px;
  width: 28px;
  height: 28px;
}
i.eat.eat-paella {
  background-image: url(../img/eat_sprite.png);
  background-position: -112px -28px;
  width: 28px;
  height: 28px;
}
i.eat.eat-pear {
  background-image: url(../img/eat_sprite.png);
  background-position: -112px -56px;
  width: 28px;
  height: 28px;
}
i.eat.eat-pizza {
  background-image: url(../img/eat_sprite.png);
  background-position: -112px -84px;
  width: 28px;
  height: 28px;
}
i.eat.eat-rice-bowl {
  background-image: url(../img/eat_sprite.png);
  background-position: 0px -112px;
  width: 28px;
  height: 28px;
}
i.eat.eat-shellfish {
  background-image: url(../img/eat_sprite.png);
  background-position: -28px -112px;
  width: 28px;
  height: 28px;
}
i.eat.eat-shushi {
  background-image: url(../img/eat_sprite.png);
  background-position: -56px -112px;
  width: 28px;
  height: 28px;
}
i.eat.eat-spaghetti {
  background-image: url(../img/eat_sprite.png);
  background-position: -84px -112px;
  width: 28px;
  height: 28px;
}
i.eat.eat-steak {
  background-image: url(../img/eat_sprite.png);
  background-position: -112px -112px;
  width: 28px;
  height: 28px;
}
i.eat.eat-taco {
  background-image: url(../img/eat_sprite.png);
  background-position: -140px 0px;
  width: 28px;
  height: 28px;
}
i.eat.eat-tapas {
  background-image: url(../img/eat_sprite.png);
  background-position: -140px -28px;
  width: 28px;
  height: 28px;
}
i.eat.eat-tea {
  background-image: url(../img/eat_sprite.png);
  background-position: -140px -56px;
  width: 28px;
  height: 28px;
}
i.eat.eat-wine-bottle {
  background-image: url(../img/eat_sprite.png);
  background-position: -140px -84px;
  width: 28px;
  height: 28px;
}
i.eat.eat-wine {
  background-image: url(../img/eat_sprite.png);
  background-position: -140px -112px;
  width: 28px;
  height: 28px;
}
