a.goto-left(*ngIf="photos[i-1]", (click)="goTo(i-1)"): i.la.la-chevron-left
img(src="{{photos[i].path}}")
a.goto-right(*ngIf="photos[i+1]", (click)="goTo(i+1)"): i.la.la-chevron-right
.foot
	p {{photos[i].description}}