.columns
	.info
		h2
			div
				font.ellipsis {{restaurant?.name}}
				i.la.la-plane(*ngIf="!isAtSameCity", title="Restaurante en otra ciudad")
				.stars
					i.la.la-star(*ngFor="let i of restaurant?.rate | fill")
					i.la.la-star-half-o(*ngIf="restaurant?.rate%1 > 0")
					i.la.la-star-o(*ngFor="let i of 5-restaurant?.rate | fill")
					font.type 
						|| 
						b {{restaurant?.type}}
			.right
				button.button.small.no-desktop((click)="goToDiv('reserve')", *ngIf="restaurant?.available_days !== false")
					i.la.la-calendar
					|Reservar
				a.button.small.white(href="tel:{{restaurant?.phone}}")
					i.la.la.la-phone
					|Llamar
				button.button.small.white.fav(*ngIf="restaurant?.is_favourite !== null", (click)="addToFavourites()", [disabled]="loadingFav")
					i.la(class="{{(restaurant?.is_favourite) ? 'la-heart' : 'la-heart-o'}}")
		ul.details
			li(*ngIf="restaurant?.menu.average_price > 0")
				i.la.la-money
				div
					h6 Precio medio
					font {{restaurant?.menu.average_price}} €
			li
				i.la.la-map-marker
				div
					h6 Dirección
					font 
						|{{restaurant?.address}} 
						span.city(*ngIf="!isAtSameCity") {{restaurant?.city.name}} 
						a(href="https://maps.google.com/?q={{restaurant?.address}} {{restaurant?.city.name}}", target="_blank") Ver
		hr
		.photo-slider([photos]="restaurant?.photos", *ngIf="restaurant?.photos.length > 0")
		.about#about
			h5 Acerca del restaurante
			p {{restaurant?.description}}
			.tags(*ngIf="restaurant?.tags.length > 0")
				span.tag(*ngFor="let tag of restaurant.tags") {{tag}}
		.menu#menu(*ngIf="restaurant?.menu.sections.length > 0")
			.card
				.card-content
					h2 Menú
					hr
					.menu-section(*ngFor="let section of restaurant?.menu.sections")
						.menu-section-head
							h3
								i.eat(*ngIf="section.icon != ''", class="eat-{{section.icon}}")
								|{{section.title}}
						.menu-items
							.menu-item(*ngFor="let item of section.items")
								.menu-item-head
									h5 {{item.name}}
									p {{item.description}}
								.menu-item-right
									font.price {{item.price}} €
		.reviews#reviews([restaurant_id]="restaurant.id",[reviews]="restaurant?.reviews", [rate]="restaurant?.rate", [allow_review]="restaurant?.was_client")
	aside([ngClass]="{'sticky':aside_isSticky}")
		.reserve#reserve(*ngIf="_reloadReserves", [restaurant_id]="restaurant?.id", [available_days]="restaurant?.available_days")