header([parent]="instance")
nav

span.loading-bar([ngClass]='{show: showLoader}')
div.banner#confirmEmail(*ngIf="!isEmailConfirmed")
	.center 
		= 'Por favor, confirma tu email para poder recibir actualizaciones de tus restaurantes favoritos y mucho más. '
		a((click)="resend_email()") Reenviar

router-outlet

simple-notifications([options]="notification_options")
login-modal(#login, [parent]="instance")
recover_password-modal(#recover, [parent]="instance")
signup-modal(#signup, [parent]="instance")