div.card-overflow(*ngIf="results?.eat.length > 0")
	a(*ngFor="let eat of results?.eat", [routerLink]='["/restaurant/"+eat.restaurant.id]', fragment="menu", title="Ir a {{eat.restaurant.name}}")
		div.card.without-img
			.card-thumbnail
				.card-right
					span.price {{eat.price}}€
				.card-presentation 
					h3.title.ellipsis {{eat.name}}
					p.ellipsis {{eat.description}}
			.card-content
				font.small.ellipsis {{eat.restaurant.name}}
				font.tiny.ellipsis(style="display:block") {{eat.section.title}}
h5(style="margin:10px 0") Resultados
div.card-list(*ngIf="results?.restaurants.data && results?.restaurants.data.length > 0", infiniteScroll, [infiniteScrollDistance]="2",
            [infiniteScrollThrottle]="50",
            (scrolled)="onResultsScroll()")
	a(*ngFor="let restaurant of results?.restaurants.data", [routerLink]='["/restaurant/"+restaurant.id]')
		div.card
			.card-thumbnail([class.image-exists]="restaurant.image", [ngStyle]="{'background-image': (restaurant.image) ? 'url('+restaurant.image.thumb+')': 'none'}")
			.card-content
				h3.title.ellipsis.color {{restaurant.name}}
				font.ellipsis.small {{restaurant.address}}
				.card-stars-foot
					.stars
						i.la.la-star(*ngFor="let i of restaurant.rate | fill")
						i.la.la-star-half-o(*ngIf="restaurant.rate%1*10 > 0")
						i.la.la-star-o(*ngFor="let i of 5-restaurant.rate | fill")
					font.small.ellipsis {{restaurant.type}}
	//.paginator(*ngIf="results?.restaurants.pages > 1")
		a(*ngFor="let i of ((page-results?.restaurants.pages+1 < 2) ? ((page-results?.restaurants.pages+1 <= 0) ? 0 : page-results?.restaurants.pages+1) : 2) | fill", [routerLink]='["/search", get_params(page-i)]') {{page-i}}
		|{{page}}
		a(*ngFor="let i of ((results?.restaurants.pages-page < 2) ? ((results?.restaurants.pages-page <= 0) ? 0 : results?.restaurants.pages-page) : 2) | fill", [routerLink]='["/search", get_params(page+i)]') {{page+i}}
p.none-found(*ngIf="!results?.restaurants.data || results?.restaurants.data.length == 0", style="margin: 0;") No hay resultados para esta búsqueda