.card.big.border-top
	.card-content
		h5 Reservar
		div([ngSwitch]="template_num")
			div.not-allowed(*ngSwitchCase="-2")
				i.la.la-close(style="font-size: 20px;")
				font.info No se admiten reservas en estos momentos
			div.not-allowed(*ngSwitchCase="-1")
				i.la.la-user(style="font-size: 20px;")
				font.info Debes iniciar sesión para poder reservar
			div.loading(*ngSwitchCase="0")
				.spinner
			div(*ngSwitchCase="1")
				p.info Seleccione un día:
				owl-date-time-inline.small.width-auto([(ngModel)]="date", (ngModelChange)="goHours($event)", [pickerType]="'calendar'", [firstDayOfWeek]="1", [owlDateTimeFilter]="date_filter")
			div(*ngSwitchCase="2")
				p.info
					a((click)="goDate()") {{date | date:'dd/MM/yyyy'}} 
					|| Hora y personas:
				.hours
					button.tag(*ngFor="let dhour of date_hours", (click)="hour=dhour", [ngClass]="{'active': hour == dhour}", [disabled]="dhour.num_pers == 0") {{dhour.hour}}
				label
					| Número de personas
					.select-wrapper
						select([(ngModel)]="num_pers", tabindex="0", [disabled]="!hour || hour.num_pers == 0")
							option(value="0") Seleccione un opción
							option(*ngFor="let i of (hour && hour.num_pers > 0 ? ((hour.num_pers < 15) ? hour.num_pers : 15) : 0) | fill", value="{{i}}") {{i}} pers.
				.foot
					button.button.small((click)="goFinish()", [disabled]="!hour || num_pers == 0") Continuar
			div(*ngSwitchCase="3")
				p.info
					a((click)="goDate()") {{date | date:'dd/MM/yyyy'}} 
					|| 
					a((click)="goTemplate(2)") {{hour.hour}} 
					|| Finalizar
				.msg.error(*ngIf="error") {{error}}
				form(style="padding-top:10px", #form="ngForm",(ngSubmit)="finish(form)")
					label(*ngIf="add_fields.indexOf('dni') > -1")
						|DNI
						input(type="text", name="dni", ngModel, required, #dni="ngModel", autofocus)
					label(*ngIf="add_fields.indexOf('phone') > -1")
						|Teléfono
						input(type="text", name="phone", ngModel, required, #phone="ngModel", autofocus)
					label
						|Sugerencias
						textarea(name="suggestions", ngModel, #suggestions="ngModel")
					.foot(style="margin-top:0px")
						button.button.small(type="submit") Finalizar
			div(*ngSwitchCase="4")
				.msg.success Reserva registrada!
