.hours {
	padding: 10px 0;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px;
	max-height: 95px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 20px;
}

@media screen and (max-width: 1024px){
	.hours {
		grid-template-columns: auto auto;
	}
}

.loading{
	display: flex;
	//align-items:center;
	justify-content:center;
	min-height: 250px;
	margin-top: 15px
}

.spinner{
	width: 12px;
	height: 12px;
	border-top-color: #f3f3f3;
	border-width: 4px;
}

.tag{
	border:0;
	cursor: pointer;
	border:2px solid #fff;

	&.active{
		cursor: default;
		background-color: #f8f8f8;
		color: #1c7f8f;
		border-color: #1c7f8f;
	}

	&:focus{
		outline: 0;

		&:not(.active){
			border-color: #d8e4e6;
		}
	}
}

.card > div{
	position: relative;

	textarea{
		width: calc(100% - 25px);
	}

	.foot{
		display: flex;
		justify-content:flex-end;
		margin-top: 10px;
	}
}

form input{
	width:calc(100% - 25px)	
}

.not-allowed{
	display: flex;
	margin-top: 10px;
	align-items: flex-start;

	i{
		margin-right: 5px;
	}
}