include ../../../../modals/modal.component.pug

+modal('Introduce tu contraseña', true)
	form.form(#passForm="ngForm" (ngSubmit)="run(passForm.form)")
		label
			|Contraseña:
			input(type="password", name="password", ngModel, required)
		div.foot
			button.button.white(type="button", (click)="hide()") Cancelar
			button.button(type="submit", [disabled]="passForm.form.status == 'INVALID'") Confirmar