div.dropdown-menu((blur)="blured()", tabindex="-1")
	a((click)="toggle()")
		ng-template(#basic_html)
			span.text {{getLabel(value) || 'Selecciona una opción'}} 
			i.la.la-caret-down
		ng-template(#custom_html)
			ng-content(select="*")

		template(*ngIf="customHTML; then custom_html else basic_html")
	ul(*ngIf="visible", class = "{{(searchAttributes != '') ? 'with-filter' : ''}}")
		li.search(*ngIf="searchAttributes != ''")
			input(type="search", placeholder="Buscar...", [(ngModel)]="query", (click)="noBlur=true", (blur)="noBlur=false; visible=false")
		li(*ngFor="let option of options | search:searchAttributes:query")
			a((click)="select(option)") {{getLabel(option)}}