.no-logged(*ngIf="reservesData == null")
	div.text
		div
			h3 Accede a la comunidad de Bary!
			p Inicia sesión o registrate para poder reservar en los mejores restaurantes de tu ciudad con unos simples clicks, además podrás modificar tus reservas en cualquier momento.
	div.thumb
		img(src="/assets/img/world.png")
div(*ngIf="reservesData")
	h2 Reservas
	div.card-list#coming
		a(*ngFor="let reserve of reservesData.coming", [routerLink]='["/restaurant/"+reserve.restaurant.id]')
			div.card
				.card-thumbnail([class.image-exists]="reserve.restaurant.image", [ngStyle]="{'background-image': (reserve.restaurant.image) ? 'url('+reserve.restaurant.image.thumb+')': 'none'}")
				.card-content
					h3.title.ellipsis.color {{reserve.restaurant.name}}
					font.ellipsis.small {{reserve.date | amDateFormat: 'DD/MM/YYYY'}} a las {{reserve.date | amDateFormat: 'HH:mm'}}
					.card-stars-foot
						font.small.ellipsis {{reserve.num_pers}} pers.
				.card-actions
					div(*ngIf="reserve.state == 'NOT ASSISTED' && hasNotPassed(reserve.date)")
						font((click)="edit($event, reserve)")
							i.la.la-pencil
						font((click)="remove($event, reserve)")
							i.la.la-close

	p.none-found(*ngIf="!reservesData.coming || reservesData.coming.length == 0") No hay reservas próximas

	div#others(*ngIf="reservesData.others && reservesData.others.data.length > 0")
		h5 Finalizadas y canceladas
		div.card-list(
			infiniteScroll, [infiniteScrollDistance]="2",
            [infiniteScrollThrottle]="50",
            (scrolled)="onResultsScroll()"
            )
			a([routerLink]='["/restaurant/"+reserve.restaurant.id]', fragment="{{ (reserve.state == 'ASSISTED') ? 'reviews' : null }}", *ngFor="let reserve of reservesData.others.data")
				div.card
					.card-thumbnail([class.image-exists]="reserve.restaurant.image",[ngStyle]="{'background-image': (reserve.restaurant.image) ? 'url('+reserve.restaurant.image.thumb+')': 'none'}")
					.card-content
						h3.title.ellipsis.color {{reserve.restaurant.name}}
						font.ellipsis.small {{reserve.date | amDateFormat: 'DD/MM/YYYY'}} a las {{reserve.date | amDateFormat: 'HH:mm'}}
						.card-stars-foot
							font.small.ellipsis {{reserve.num_pers}} pers.
					.card-actions
						span.canceled(*ngIf="reserve.state == 'CANCELED'") CANCELED
						font.comment(*ngIf="reserve.state == 'ASSISTED'")
							i.la.la-comment
	confirm-modal([title]="'¿Está seguro que desea cancelar esta reserva?'", (onClose)="modalOnClose($event)", #cancelConfirm)
	edit-reserve-modal([reserve]="currentReserve", #editModal)