.no-logged{
	border: 5px dotted #ddd;
	border-radius: 3px;
	padding: 20px;
	position: relative;
	min-height: 140px;
	display: grid;
	grid-template-columns: 1fr 300px;

	.text{
		display: flex;
		align-items:center;

		h3{
			font-weight: bold;
			color: #142635;
			margin: 0px
		}

		p{
			color: #777;
			font-weight: 100;
			font-size: 16px;
			line-height: 25px;
			max-width: 650px
		}
	}

	.thumb{
		display: flex;
		align-items: center;
		justify-content:center;

		img{
			width: 160px;
			opacity:0.4;

			&:hover{
				opacity: 1
			}
		}
	}
}

.none-found{
	display: block;
	text-align: center;
	border: 2px solid #ddd;
	padding: 30px;
	border-radius: 2px;
	font-size: 14px;
	color: #4b5d5f;
	max-width: 605px;
}

.cursor-pointer{
	cursor: pointer;

	&:hover{
		opacity: 0.8
	}
}

h2{
	margin-bottom: 15px
}

.card-list .card .card-content > div.card-stars-foot > font{
	margin-left: 0
}

#others{
	h5{
		margin-top: 25px;
		margin-bottom: 10px
	}
}

.card-list .card .card-thumbnail {
	width: 180px;
}

.card-actions{
	width: 80px;
	overflow: hidden;
	padding: 10px;
	text-align: right;

	& > div > *{
		margin-left: 5px
	}

	span.canceled{
		font-size: 10px;
		text-transform: uppercase;
		color: #fff;
		padding: 6px;
		background-color: #fb6363;
		border-radius: 2px;

	}

	font{
		color: #1c7f8f;
		
		i{
			font-size: 24px
		}
	}
}

@media screen and (max-width: 1024px) {
	.no-logged{
		grid-template-columns: 1fr auto;

		.thumb img{
			width: 15vw;
			margin: 0px 25px;
		}
	}
}

@media screen and (max-width: 670px) {
	.no-logged{
		display: block;

		.thumb img{
			width: 20vw;
			margin-top: 20px
		}
	}

	.card-list .card .card-content {
		width: calc(100% - 155px);
	}

	.card-actions{
		span.canceled{
			width: 6px;
			height: 6px;
			overflow: hidden;
			display: block;
			float: right;
			color: transparent;
			position: relative;
			padding: 4px;

			&:after{
				color: #fff;
				content: 'x';
				position: absolute;
				top: 1px;
				left: 0px;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 11px;
			}
		}

		& > div > *{
			display: block;
			margin-left: 0;
			margin-bottom: 5px
		}
	}
}